<?xml version="1.0"?>
<launch>
    <!-- map server -->
    <arg name="map_file" default="$(find mcl)/mapdata/map.yaml" />
    <node pkg="map_server" type="map_server" name="global_map" args="$(arg map_file)" />

    <!-- marker updater -->
    <node pkg="parent_localization" type="marker_updater" name="marker_updater" output="screen" >
        <param name="file_name" value="arrange_1.csv" />
        <param name="marker_frame_id" value="map"/>
        <rosparam command="load" file="$(find parent_localization)/config/parent_mcl/object_list.yaml"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find parent_localization)/config/rviz/marker_updater.rviz" />

</launch>